.content-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.builder-container {
  background: #B2B2B2;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 700px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.builder-container input,
.builder-container select,
.add-button {
  display: block;
  width: 20%;
  text-align: center;
  margin: 10px auto;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background: #B2B2B2;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  text-align: center;
  font-family: Arial, sans-serif;
}

#petCareButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  display: block;
}