.monster-card {
  width: 180px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 12px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: Arial;
  display: inline-block;
  text-align: center;
}

.monster-card.selected-card {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  border: 2px solid #000;
  transition: all 0.2s ease-in-out;
}
